.chat {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 32px;
  padding-top: 0;
}

.messages_list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 16px;
}

.message {
  margin-bottom: 3px;
}

.message_group {
  margin-bottom: 16px;
}

.input_label {
  margin-left: 12px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.input_label_icon {
  margin-right: 8px;
}

.input {
  margin-bottom: 16px;
}

.compose_area {
  display: flex;
  flex-direction: column;
}
