$message_border_radius: 16px;

.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.message_text {
  margin-left: 8px;
  padding: 8px 16px;
  border-radius: 4px;
  background: white;
  max-width: 80%;
}

.message.from_current_user {
  animation-name: message_from_current_user_appear;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

.message:not(.from_current_user) {
  animation-name: message_not_from_current_user_appear;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

@keyframes message_from_current_user_appear {
  from {
    opacity: 0;
    transform: translateX(-16px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes message_not_from_current_user_appear {
  from {
    opacity: 0;
    transform: translateX(16px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.message.hide_avatar .avatar {
  visibility: hidden;
}

.message:not(.from_current_user):first-of-type .message_text {
  border-top-left-radius: $message_border_radius;
}

.message:not(.from_current_user):last-of-type .message_text {
  border-bottom-left-radius: $message_border_radius;
}

.message:not(.from_current_user) .message_text {
  border-top-right-radius: $message_border_radius;
  border-bottom-right-radius: $message_border_radius;
}

.message.from_current_user:first-of-type .message_text {
  border-top-right-radius: $message_border_radius;
}

.message.from_current_user:last-of-type .message_text {
  border-bottom-right-radius: $message_border_radius;
}

.message.from_current_user {
  justify-content: flex-end;

  .avatar {
    visibility: hidden;
  }

  .message_text {
    border-top-left-radius: $message_border_radius;
    border-bottom-left-radius: $message_border_radius;
  }
}
