.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.message_text {
  margin-left: 8px;
  padding: 8px 12px;
  border-radius: 16px;
  background: white;
}

.message.right_aligned {
  justify-content: flex-end;

  .avatar {
    display: none;
  }

  .message_text {
    text-align: right;
  }
}
