.create_room {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 4px;
  margin-left: 12px;
  text-transform: uppercase;
}

.icon {
  margin-right: 8px;
}

.name_input {
  margin-bottom: 24px;
}
