.home {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.birdbrain_logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .birdbrain_logo {
    animation: birdbrain-logo-spin infinite alternate-reverse 2s ease-in-out;
  }
}

@keyframes birdbrain-logo-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.home__header {
  padding: 20px;
  margin-bottom: 15px;

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home__body {
  width: 100%;
  padding: 0 1.5rem;
}

@media (min-width: 600px) {
  .home__body {
    /** TODO: consolidate units **/
    padding: 0 3rem;
    max-width: 460px;
  }
}

.home__input_section {
  display: flex;
  flex-direction: column;
}

.button {
  border: 0;
  border-radius: 16px;
  font-size: 1rem;
  padding: 16px 4px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  background-color: rgb(218, 167, 255);
  text-transform: uppercase;
  font-weight: bold;

  transition: 200ms ease-out all;
}

.button:hover {
  background-color: rgba(247, 194, 255);
}

.button:active {
  background-color: rgba(247, 194, 255);
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.7);
}

.home__input_section_divider {
  text-align: center;
  margin: 40px 0;
}

.home__join_room_input {
  margin-bottom: 16px;

  font-size: 1rem;
  border: 0;
  border-radius: 16px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.05);
}
