.home {
  padding: 1.5rem;
}

.birdbrain_logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .birdbrain_logo {
    animation: birdbrain-logo-spin infinite alternate-reverse 2s ease-in-out;
  }
}

@keyframes birdbrain-logo-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.header {
  padding: 20px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.input_section {
  display: flex;
  flex-direction: column;
}

.input_section_divider {
  text-align: center;
  margin: 40px 0;
}

.label {
  margin-bottom: 8px;
}

.join_room_input {
  margin-bottom: 16px;

  font-size: 1rem;
  border: 0;
  border-radius: 16px;
  padding: 16px;
  background-color: #f7f7f7;
}
