.home {
  padding: 32px;
}

.input_section {
  display: flex;
  flex-direction: column;
}

.input_section_divider {
  text-align: center;
  margin: 40px 0;
}

.label {
  margin-left: 12px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.label_icon {
  margin-right: 8px;
}

.join_room_input {
  margin-bottom: 24px;
}
