.home {
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 32px;
}

.title {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.input_section {
  display: flex;
  flex-direction: column;
}

.input_section_divider {
  text-align: center;
  margin: 24px 0;
}

.label {
  margin-left: 12px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.label_icon {
  margin-right: 8px;
}

.join_room_input {
  margin-bottom: 24px;
}

.footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.footer p {
  margin-bottom: 0;
}

.footer .emoji {
  display: inline-block;
  font-size: 1.3rem;
  position: relative;
  bottom: -2px;
}
