.videoWrapper {
  position: relative;
  height: 450px;
}

.videoWrapper video,
.videoWrapper canvas {
  position: absolute;
  /* transform: rotateY(180deg); */
}

.ball {
  border-radius: 100px;
  background-color: orange;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.scores {
  z-index: 100;
  position: absolute;
  width: 100%;
  font-size: 200px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 0.2;
}

.scores:hover {
  opacity: 0.05;
}
