.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
  padding: 8px;
  padding-left: 0;
  border-radius: 8px;

  transition: background 150ms ease;
}

.selection_disabled:hover {
  background: none;
}

.selection_disabled {
  cursor: not-allowed;
  background: none;
}

.selectable:hover {
  background-color: rgb(225, 225, 225);
}

.selected {
  background-color: rgb(240, 240, 240);
}

.selectable {
  cursor: pointer;
}

.name {
  margin-left: 10px;
}
