.avatar {
  background-color: rgb(125, 125, 125);
  padding: 8px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  color: white;
  border-radius: 100px;
  font-weight: bold;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  border: 3px solid transparent;
}

.avatar.small {
  width: 1rem;
  height: 1rem;
  font-size: 12px;
}

.bordered {
  border: 3px solid;
}

.icon {
  position: absolute;
  top: -8px;
  right: -8px;
}
