.app {
  min-height: -webkit-fill-available;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.app_inner {
  height: 100%;
  width: 100%;
}

@media (min-width: 600px) {
  .app_inner {
    /** TODO: consolidate units **/
    padding: 0 3rem;
    max-width: 460px;
  }
}
