.app {
  min-height: -webkit-fill-available;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.app_inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .app_inner {
    max-width: 460px;
  }
}

.app_inner.desktop {
  max-width: 100%;
}

@media (width: 1393px) {
  .app_inner {
    max-width: 100%;
  }
}
