.wrapper {
  display: flex;
  flex-direction: column;
}

.answer {
  height: 100px;
  margin-top: 0;
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.button {
  flex: 1;
  margin-bottom: 24px;
  height: 72px;
}

.info {
  margin: 8px 0 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teamInfo {
  margin-bottom: 16px;
}

.timeDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-weight: bold;
  font-size: 64px;
}
