.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 16px;
  height: 100%;
}

.wrapper > p {
  margin-bottom: 4px;
  margin-top: 8px;
}

.title {
  margin: 0;
}

.scores {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}

.answersList {
  overflow-y: auto;
  max-height: 80px;
}

.teamScoreWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamPoints {
  font-weight: 900;
  font-size: 48px;
}

.continueArea {
  flex-basis: 64px;
}
