.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
}

.wrapper.teamA {
  background-color: #4b57ee;
}

.wrapper.teamB {
  background-color: #ee4b4b;
}

.inner {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 16px;

  color: white;
  font-weight: 900;
}

@media (min-width: 600px) {
  .inner {
    max-width: 460px;
  }
}

.teamName {
  letter-spacing: 0.1em;
}

.playerName {
  letter-spacing: 0.05em;
}

.icon {
  margin-right: 0.5em;
}

.spacing {
  height: 0;
  margin-bottom: 36px;
}
