.room {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.room_body {
  padding: 32px;
  padding-top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.users_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.user_list {
  flex: 1;
  flex-basis: 0;
  overflow-y: auto;
}

.game_section {
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 8px;
}
