.toolbar {
  display: flex;
  height: 100%;
  padding-bottom: 10px;
}

.mission_info {
  flex: 2;
}

.role_button_wrapper {
  flex: 1;
}

.missions {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.title {
  margin-top: 0;
  margin-bottom: 8px;
  user-select: none;
}
