.button {
  border: 0;
  border-radius: 16px;
  font-size: 1rem;
  padding: 16px 16px;
  box-shadow: 4px 4px 0px #8000db;
  background-color: rgb(218, 167, 255);
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 4px;

  cursor: pointer;
  user-select: none;

  transition: 200ms ease-out all;
}

.button:disabled {
  cursor: not-allowed;
}

.button:hover {
  background-color: rgba(247, 194, 255);
}

.button:active {
  background-color: rgba(247, 194, 255);
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.7);
}
