.button {
  border: 0;
  border-radius: 16px;
  font-size: 1rem;
  padding: 16px 4px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  background-color: rgb(218, 167, 255);
  text-transform: uppercase;
  font-weight: bold;

  transition: 200ms ease-out all;
}

.button:hover {
  background-color: rgba(247, 194, 255);
}

.button:active {
  background-color: rgba(247, 194, 255);
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.7);
}
