.birdbrain_logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .birdbrain_logo {
    animation: birdbrain-logo-spin infinite alternate-reverse 2s ease-in-out;
  }
}

@keyframes birdbrain-logo-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.header {
  margin-bottom: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
