.wrapper {
  margin-right: 8px;

  background-color: white;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 4px;

  width: 200px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashed {
  border-style: dashed;
}
