.characterImage {
  max-width: 100%;
  width: 128px;
  transition: transform 150ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.characterImage.pressed {
  transform: scale(1.1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper.hover {
  animation: hoverAnimation 2s ease-in-out infinite alternate;
  animation-play-state: running;
}

.wrapper.hoverSmall {
  animation: hoverSmallAnimation 1s ease-in-out infinite alternate;
  animation-play-state: running;
}

.wrapper.sway {
  animation: swayAnimation 0.75s ease-in-out infinite alternate;
  animation-play-state: running;
}

.wrapper.shake {
  animation: shakeAnimation 0.1s ease-in-out infinite alternate;
  animation-play-state: running;
}

@keyframes hoverAnimation {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes hoverSmallAnimation {
  0% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(-2px);
  }
}

@keyframes swayAnimation {
  0% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(8deg);
  }
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(3px);
  }
}
