.wrapper {
  padding: 24px 32px 32px;
  height: 100%;
}

.wrapper h1 {
  font-size: 40px;
}

.wrapper img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
