.wrapper {
}

.bubble {
  background-color: white;
  border: 2px solid black;
  margin: 4px 16px;
  padding: 16px;
  width: 50%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentShape {
  font-size: 64px;
}
