.pipeRowWrapper {
  display: grid;
  padding: 0 32px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center stretch;
}

.pipeWrapper {
  display: flex;
  justify-content: center;
}

.pipeImg {
  width: 48px;
  height: 96px;
}

.pipeButton {
  margin-bottom: 8px;
}

.cols111 {
  grid-column-start: 1;
  grid-column-end: 4;
}
