.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 6px;
  background-color: white;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.cardSecondary {
  background-color: teal;
}

.cardPrimary {
}

.field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardText {
  margin-top: 40px;
}

.cardJudgment {
  position: absolute;
  font-weight: bold;
  font-size: 75px;
}

.cardJudgmentTrue {
  color: green;
}

.cardJudgmentFalse {
  color: red;
}
