.wrapper {
  display: flex;
  flex-direction: column;
}

.character {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.character img {
  width: 100%;
}

.heartContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.heart {
  width: 16px;
  height: 16px;
}

.characterAndHealth {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.playerName {
  font-weight: bold;
}
