.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d2ccf5;
  z-index: 100;

  padding: 32px;
  padding-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  .inner {
    width: 300px;
  }
}

.qr_code_wrapper {
  display: flex;
  height: 236px;
  margin-top: 32px;
  padding: 16px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 8px 0 #333;
  border: 2px solid #333;
}

.url {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.room_code {
  margin: 0;
  margin-top: 32px;
  font-weight: bold;
  font-size: 64px;
}

.button {
  width: 100%;
}
