.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.qr_code {
  margin-top: 32px;
}

.url {
  font-weight: bold;
  font-size: 30px;
}

.room_code {
  margin-top: 32px;
  font-weight: bold;
  font-size: 40px;
}

.button {
  margin-top: 64px;
  width: 100%;
}
