.top_bar {
  background-color: rgb(186, 186, 186);
  padding: 16px 16px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  width: 100%;
  height: 48px;
  cursor: pointer;
}

.spacing {
  height: 48px;
}

.room_code {
  margin-left: 8px;
}
